<div>{{input type="text" value=createTodo enter="onCreateTodo"}}</div>

{{#each filteredTodos as |todo|}}
  <div class="flex-row">
      <div class="circle {{if (eq todo.status "COMPLETED") "filled"}}" {{action "onUpdateStatus" todo}}></div>
      <div>{{todo.description}}</div> - <div>{{todo.status}}</div>
      <div class="button" {{action "onDelete" todo}}>delete</div>
  </div>
{{/each}}

<div class="flex-row">
    <div>{{activeCount}} item(s) left!</div>

    <div class="button {{if isFilterAll "is-active"}}" {{action "onFilter" "ALL"}}>All</div>
    <div class="button {{if isFilterActive "is-active"}}" {{action "onFilter" "ACTIVE"}}>Active</div>
    <div class="button {{if isFilterCompleted "is-active"}}" {{action "onFilter" "COMPLETED"}}>Completed</div>

    <div>{{input type="text" value=searchText placeholder="Search"}}</div>
</div>